<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyanidation</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./theme/modern-amiya/main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="guidance" v-if="!isTableAvailable" :theme="theme">
            <div id="g-s1" v-if="gCode == 1">
                <h1>欢迎使用 Cyanidation 2！</h1>
                <p>轻量级的课程表</p>
                <span>
                    <button @click="gCode++">下一步</button>
                </span>
            </div>
            <div id="g-s2" v-else-if="gCode == 2">
                <h1>选择你的院校，并导入课程表</h1>
                <select name="" id="university-selector">
                    <option value="AHTCM">安徽中医药大学（AHTCM）</option>
                    <option value="HFUU" selected>合肥学院（HFUU）</option>
                </select>
                <input type="file" name="" id="excel-selector" @change="isTableFileReady = true">
                <span>
                    <button @click="gCode--">上一步</button>
                    <button @click="gCode++, setData()" :disabled="!isTableFileReady">下一步</button>
                </span>
            </div>
            <div id="g-s3" v-else-if="gCode == 3">
                <h1>选择你喜爱的主题</h1>
                <select name="" id="theme-selector" v-model="theme">
                    <option value="" selected>现代明亮（Modern Light）</option>
                    <option value="modern-amiya">现代阿米娅（Modern Amiya）</option>
                </select>
                <span>
                    <button @click="gCode--, isTableFileReady = false">上一步</button>
                    <button @click="gCode++">下一步</button>
                </span>
            </div>
            <div id="g-s4" v-else-if="gCode == 4">
                <h1>开始享受吧！</h1>
                <span>
                    <button @click="isTableAvailable = true, render()">开始使用</button>
                </span>
            </div>
        </div>
        <div id="dashboard" v-else :theme="theme">
            <div id="today">

            </div>
            <div id="tomorrow">

            </div>
            <button id="reset" @click="resetAll()">重开</button>
            <button @click="goAhead(-1)">倒退一天</button>
            <button @click="goAhead(1)">前进一天</button>
        </div>
        <audio id="ux" :src="uxSFX"></audio>
    </div>
</body>

<script src="./defination.js"></script>
<script src="./main.js"></script>

<script>
    let app = Vue.createApp({
        data() {
            return {
                isTableAvailable: localStorage.getItem("cy-data") ? true : false,
                gCode: 1,
                isTableFileReady: false,
                theme: "",
                /**
                 * 测试日期。
                 * *警告：该选项仅供开发人员调试程序用，用户请勿填写任何值！*
                 * @type {string}
                 */
                testDate: ""
            }
        },
        methods: {
            setData() {
                setData()
            },
            resetAll() {
                localStorage.removeItem("cy-data")
                this.isTableAvailable = false
                this.gCode = 1
                this.isTableFileReady = false
            },
            goAhead(day) {
                this.testDate =
                    new Date((this.testDate ? new Date(this.testDate) : new Date()).getTime() + day * 24 * 60 * 60 * 1000)
                this.render()
            },
            render() {
                setTimeout(() => {
                    render(this.testDate ? new Date(this.testDate) : new Date())
                }, 1)
            }
        },
        computed: {
            uxSFX() {
                switch (this.theme) {
                    case "":
                        return ""
                    case "modern-amiya":
                        return "???"
                }
            }
        },
        mounted() {
            if (this.isTableAvailable)
                render(this.testDate ? new Date(this.testDate) : new Date())
        }
    }).mount("#app")
</script>

</html>