:root {
    /* 背景色 */
    --bg-c: #fff;
    /* 文字色 */
    --text-c: #000;
    /* 控件色 */
    --ctrl-c: #d0d7de;
    /* 主题色 */
    --theme-c: #1a73e8;
    /* 功能文字色 */
    --fn-text-c: #fff;
    /* 次主题色 */
    --sub-theme-c: #da3633;
}

* {
    margin: 0;
    padding: 0;
}

.we * {
    zoom: 1.08;
}

#guidance {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("./assets/g-bg.jpg");
    background-size: cover;
}

#guidance>div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    background: linear-gradient(to right, var(--bg-c) 30%, transparent 150%);
    background-size: cover;
}

#guidance>div>* {
    display: block;
    margin: 2% 0;
}

#guidance>div>h1 {
    margin: 8% 0 4%;
    color: var(--text-c);
    font-weight: 400;
}

#guidance>div>p {
    margin: -3% 0;
    color: var(--text-c);
    font-weight: 400;
    font-style: italic;
}

#guidance>div>span {
    position: fixed;
    left: 10%;
    bottom: 20%;
    width: 50%;
    margin: 0;
}

#guidance>div>span>* {
    margin-right: 2%;
}

#guidance button {
    background: var(--theme-c);
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    color: var(--fn-text-c);
}

#guidance button:hover {
    filter: brightness(90%);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#guidance button:focus {
    filter: brightness(80%);
}

#guidance button:disabled {
    background: var(--ctrl-c);
    filter: none;
    box-shadow: none;
}

#guidance select {
    background: var(--bg-c);
    padding: 10px 22px;
    border: 1px solid var(--ctrl-c);
    border-radius: 4px;
    color: var(--text-c);
}

#guidance input[type="file"] {
    background: var(--bg-c);
    padding: 10px 22px;
    border: 1px solid var(--ctrl-c);
    border-radius: 4px;
    color: var(--text-c);
}

#dashboard {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bg-c);
}

#dashboard iframe {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

#dashboard .f-go {
    position: absolute;
    right: 42%;
    width: 48px;
    padding: 0;
    background: transparent;
    border: none;
}

#dashboard .f-go path {
    fill: var(--ctrl-c);
    transition: all 0.66s;
}

#dashboard .f-go path:active {
    fill: var(--theme-c);
    transition: none;
}

#dashboard #f-go-back {
    bottom: 53%;
}

#dashboard #f-go-ahead {
    top: 53%;
}

#dashboard>div {
    position: absolute;
    right: 4%;
    width: 36%;
    height: calc(41% - 160px);
    padding-top: 160px;
    border-top: 1px solid var(--ctrl-c);
    overflow: hidden;
    user-select: none;
}

#dashboard>div .date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 8px;
    background: var(--ctrl-c);
    color: var(--bg-c);
    font-style: normal;
    font-size: 14px;
}

#dashboard>div .date.weekend {
    background: transparent;
    border: 1px solid var(--ctrl-c);
    border-top: none;
    color: var(--ctrl-c);
}

#dashboard>div .unit-title {
    position: absolute;
    top: -50px;
    color: transparent;
    -webkit-text-stroke: 0.8px var(--ctrl-c);
    font-style: italic;
    font-weight: bolder;
    font-size: 144px;
}

#dashboard>div .cut {
    color: var(--ctrl-c);
    margin-left: 15px;
}

#dashboard #today {
    top: 6%;
}

#dashboard #tomorrow {
    bottom: 6%;
}

#f-reset {
    display: none;
}