:root {
    /* 背景色 */
    --bg-c: #0d1117;
    /* 文字色 */
    --text-c: #e6edf3;
    /* 控件色 */
    --ctrl-c: #d0d7de;
    /* 主题色 */
    --theme-c: #1a73e8;
    /* 功能文字色 */
    --fn-text-c: #fff;
    /* 次主题色 */
    --sub-theme-c: #da3633;
}